@use "../globals/breakpoints" as b;
@import "../globals/variables";
@import "../globals/mixins";

.cards-container {
  color: white;
  margin-top: 3rem;

  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  @include b.breakpoint("768") {
    grid-template-columns: 1fr 1fr;
  }

  @include b.breakpoint("1000") {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
