@use "../globals/breakpoints" as b;
@import "../globals/variables";
@import "../globals/mixins";

.hero {
  height: 500px;

  @include b.breakpoint("1240") {
    height: 700px;
  }

  .hero-elements {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;

    @include b.breakpoint("1240") {
      width: 770px;
    }

    h1 {
      font-family: "Bebas Neue", cursive;
      font-size: 70px;
      text-transform: uppercase;
      line-height: 1.2;

      @include b.breakpoint("768") {
        font-size: 90px;
      }

      @include b.breakpoint("1240") {
        font-size: 90px;
      }

      span {
        font-family: "Bebas Neue", cursive;
        background: linear-gradient(to right, $primary 0%, $second 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    button {
      display: flex;
      align-items: center;
      gap: 0.7rem;
      @include smalbig;

      .icon {
        font-size: 30px;
      }
    }
  }

  .mobile-hero {
    position: absolute;
    bottom: -5rem;
    left: -1rem;
    z-index: -1;
  }
}
