@use "../globals/breakpoints" as b;
@import "../globals/variables";
@import "../globals/mixins";

header {
  width: 100%;
  min-height: 90vh;

  position: relative;

  @include b.breakpoint("768") {
    background-image: url("/public/images/hero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @include b.breakpoint("1240") {
    min-height: 90vh;
  }
}
